body {
	background: url("images/royalty.jpg");
	background-size: cover;
	color: yellow;
	font-family: "Arial";
	text-align: center;
}
h1 {
	font-family: Georgia, serif;
	font-weight: bold;
}
#slogan {
	font-style: italic;
}
ul {
    text-align: center;
    list-style-type: none;
}