body {
	background: url("https://newevolutiondesigns.com/images/freebies/black-wallpaper-28.jpg");
	background-size: cover;
	color: yellow;
	font-family: "Arial";
	text-align: center;
}
h1 {
	font-family: Georgia, serif;
	font-weight: bold;
}
#slogan {
	font-style: italic;
}
ul {
  list-style-type: none;
}