body {
	background: url("http://static.tumblr.com/0df9599ebbd032723294542daebc7f46/cca7uuw/AeRn0ho1g/tumblr_static_demasque.jpg");
	background-size: cover;
	color: yellow;
	font-family: "Arial";
	text-align: center;
}
h1 {
	font-family: Georgia, serif;
	font-weight: bold;
}
#slogan {
	font-style: italic;
}
ul {
  list-style-type: none;
}